<%- include('header', { pageTitle: 'Product Page' }) %>
<!-- views/productPage.ejs -->
        <div class="row">
            <div class="col-8">
                <div class="text-center prodimgdiv">
                    <img src="<%= product.image %>" class="rounded" alt="..."></img>
                  </div>
            </div>
            <div class="col-4">
                <div class="prodDetailsdiv">
                    <h1 class="display-4"><%= product.title %></h1>
                        <p class="lead"><%= product.description %></p>
                        <p><em><%= product.rating.count %> users have rated this product <%= product.rating.rate %>/5.0 on average.</em></p>
                        <h5><%= product.price.toFixed(2) %> USD</h5>
                        <div class="btn btn-primary btn-add-to-cart" onclick="updateCart('<%= product.id %>','add')">ADD TO CART</div>
                </div>
            </div>
        </div>
        <div id="popup-cart" class="popup-cart">
            <div id="cart-items" class="cart-items">
                <!-- Cart items will be displayed here -->
            </div>
            <div class="cart-actions">
                <!-- Buttons for checkout, close, etc. -->
                <div class="row">
                    <div class="col-6">
                        <div class="btn btn-primary" onclick="">Checkout</div>
                    </div>
                    <div class="col-6">
                        <div class="btn btn-danger" onclick="hideMiniCart();">Close</div>
                    </div>
                </div>
            </div>
        </div>
        <link rel="stylesheet" href="/styles/product-page.css">
        <link rel="stylesheet" href="/styles/minicart.css">
        <script src="/scripts/mycart.js"></script>
        <script src="/scripts/minicart.js"></script>
<%- include('footer') %>

