<%- include('header', { pageTitle: 'Product Page' }) %>
<!-- views/productPage.ejs -->
        <div class="row">
            <div class="col-8">
                <div class="text-center prodimgdiv">
                    <img src="<%= product.image %>" class="rounded" alt="..."></img>
                  </div>
            </div>
            <div class="col-4">
                <div class="prodDetailsdiv">
                    <h1 class="display-4"><%= product.title %></h1>
                        <p class="lead"><%= product.description %></p>
                        <p><em><%= product.rating.count %> users have rated this product <%= product.rating.rate %>/5.0 on average.</em></p>
                        <h5><%= product.price.toFixed(2) %> USD</h5>
                        <div class="btn btn-primary btn-add-to-cart" onclick="updateCart('<%= product.id %>','add')">ADD TO CART</div>
                </div>
            </div>
        </div>
<%- include('footer') %>

